@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
    --ff-head: 'Bellefair', serif;
    --ff-body: 'Barlow Condensed', sans-serif;
    --clr-dark-blue: hsl(230, 35%, 7%);
    --clr-light-blue: hsl(231, 77%, 90%);
    --clr-white: hsl(0, 0%, 100%);
    --transition: all 0.3s ease
}

* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    height: 100vh;
    background-image: url(assets/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0vw;
    transition: var(--transition);
}

.buttons-section {
    margin: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 10vw;
    height: auto;
}

.menu-btn button {
    padding: 0vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu {
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0;
    right: 0;
    transition: var(--transition);
    transform: translate(100%);
    overflow: hidden;
    backdrop-filter: blur(10vw);
    display: flex;
    flex-direction: column;
    z-index: 100;
}

/* menu toggle start*/
.open {
    transform: translate(0%);
}
/* menu toggle end*/

.close-btn {
    display: flex;
    margin: 6vw;
    justify-content: right;
}

.close-btn button {
    background-color: transparent;
    border: none;
}

.menu-links {
    display: flex;
    flex-direction: column;
    margin: 12vw 12vw;
    font-family: var(--ff-body);
}

.menu a {
    text-decoration: none;
    color: var(--clr-white);
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 1.2em;
    letter-spacing: 0.5vw;
    margin: 4vw 0vw;
    font-weight: 400;
}

.menu a span {
    font-weight: 600;
    margin: 0vw 4vw 0vw 0vw;
}

.destination-main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.destination-header h3 {
    color: var(--clr-white);
    font-family: var(--ff-body);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 0.5vw;
    margin: 0vw 0vw 8vw 0vw;
}

.destination-header h3 span {
    color: hsl(0, 0%, 30%);
    margin: 0vw 4vw 0vw 0vw;
}

.destination-picture img {
    width: 40vw;
    height: auto;
    transition: var(--transition);
    animation: orbit 40s infinite linear;
}

.destination-btns {
    margin: 8vw 0vw 0vw 0vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.destination {
    width: 16vw;
    padding: 2vw 0vw;
    margin: 0vw 1vw;
    color: var(--clr-light-blue);
    background-color: transparent;
    border: none;
    font-family: var(--ff-body);
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: 0.25vw;
    border: 0vw 0vw 1vw 0vw;
    cursor: pointer;
    transition: var(--transition);
}

.destination:hover {
    border-bottom: 1vw solid hsl(0, 0%, 50%);
}

.active {
    border-bottom: 1vw solid var(--clr-white);
    color: var(--clr-white);
}

.destination-about {
    display: flex;
    flex-direction: column;
}

.destination-name h1 {
    text-transform: uppercase;
    color: var(--clr-white);
    font-size: 5em;
    font-weight: 400;
    font-family: var(--ff-head);
    margin: 4vw 0vw 2vw 0vw;
    transition: var(--transition);
}

.destination-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: var(--transition);
}

.destination-description span {
    text-align: center;
    color: var(--clr-light-blue);
    margin: 0vw 10vw 8vw 10vw;
    font-family: var(--ff-body);
    line-height: 1.6;
    font-size: 1.2em;
    padding-bottom: 6vw;
    border-bottom: 1px solid hsl(231, 67%, 80%);
    transition: var(--transition);
}

.destination-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4vw 0vw 0vw 0vw;
    transition: var(--transition);
}

.destination-info h3 {
    color: var(--clr-light-blue);
    margin: 2vw 0vw;
    font-family: var(--ff-body);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1em;
}

.destination-info h1 {
    color: var(--clr-white);
    margin: 0vw;
    font-family: var(--ff-head);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2em;
    transition: var(--transition);
}

@keyframes orbit {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}


@media screen and (min-width: 768px) {
    body {
        background-image: url(assets/destination/background-destination-tablet.jpg);
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        align-items: center;
    }
    
    .buttons-section {
        margin: 3vw 4vw;
    }
    
    .logo img {
        width: 6vw;
    }
    
    .menu-btn button {
        display: none;
    }
    
    .menu {
        position: relative;
        width: auto;
        height: auto;
        top: auto;
        right: auto;
        transform: translate(0%);
        background-color: rgba(255, 255, 255, 0.05);
    }
    
    .close-btn {
        display: none;
    }
    
    .menu-links {
        display: flex;
        flex-direction: row;
        margin: 0vw;
        font-family: var(--ff-body);
        padding: 0vw 2vw;
    }
    
    .menu a {
        text-decoration: none;
        color: var(--clr-white);
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-size: 1.2em;
        letter-spacing: 0.5vw;
        margin: 0vw 1vw;
        font-weight: 400;
        padding: 5vw 1vw;
    }

    .menu a:hover {
       border-bottom: 1vw solid hsl(0, 0%, 50%);
    }

    .menu a:focus {
        border-bottom: 1vw solid var(--clr-white);
    }
    
    .menu a span {
        display: none;
    }
    
    .destination-main {
        margin: 2vw 0vw;
    }
    
    .destination-header h3 {
        justify-content: left;
        margin: 4vw 0vw 8vw 4vw;
    }
    
    .destination-btns {
        margin: 4vw 0vw 0vw 0vw;
    }
    
    .destination {
        width: 10vw;
        font-size: 1.3em;
        border: 0vw 0vw 0.5vw 0vw;
    }
    
    .destination:hover {
        border-bottom: 0.5vw solid hsl(0, 0%, 50%);
    }
    
    .active {
        border-bottom: 0.5vw solid var(--clr-white);
    }
    
    .destination-name h1 {
        font-size: 7em;
        margin: 4vw 0vw 2vw 0vw;
    }

    .destination-description span {
        margin: 0vw 12vw 4vw 12vw;
        font-size: 1.6em;
        padding-bottom: 4vw;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .destination-info {
        margin: 0vw 8vw;
    }
    
    .destination-info h3 {
        margin: 1vw 0vw;
        letter-spacing: 0.5vw;
    }
    
    .destination-info h1 {
        color: var(--clr-white);
        margin: 0vw;
        font-family: var(--ff-head);
        font-weight: 400;
        text-transform: uppercase;
        font-size: 2em;
        transition: var(--transition);
    }
}


/* Desktop View */
@media screen and (min-width: 1440px) {
    body {
        background-image: url(assets/destination/background-destination-desktop.jpg);
    }
    
    .logo img {
        width: 4vw;
    }

    .menu {
        margin: 4vw 0vw;
    }
    
    .menu-links {
        padding: 0vw 6vw;
    }
    
    .menu a {
        font-size: 1.3em;
        letter-spacing: 0.25vw;
        padding: 3vw 1vw;
    }

    .menu a span {
        margin: 0vw 1vw 0vw 0vw;
        display: flex;
    }

    
    .destination-main {
        margin: 0vw 12vw;
    }
    
    .destination-header h3 {
        justify-content: left;
        font-size: 2em;
        margin: 4vw 0vw;
    }

    .body-and-pic {
        display: flex;
        flex-direction: row;
    }

    .btn-and-main {
        display: flex;
        flex-direction: column;
        margin: 0vw 0vw 0vw 10vw;
        width: 40vw;
    }

    .destination-picture {
        margin: 4vw 0vw 0vw 0vw;
    }

    .destination-picture img {
        width: 35vw;
    }
    
    .destination-btns {
        margin: 0vw;
        justify-content: left;
    }
    
    .destination {
        width: 5vw;
        font-size: 1.5em;
        border: 0vw 0vw 0.25vw 0vw;
        padding: 1vw 0vw;
        margin: 0vw 2vw 0vw 0vw;
    }
    
    .destination:hover {
        border-bottom: 0.25vw solid hsl(0, 0%, 50%);
    }
    
    .active {
        border-bottom: 0.25vw solid var(--clr-white);
    }
    
    .destination-name h1 {
        font-size: 7em;
        margin: 2vw 0vw;
        text-align: left;
    }

    .destination-description span {
        margin: 0vw 0vw 4vw 0vw;
        font-size: 1.6em;
        padding-bottom: 0vw;
        text-align: left;
        border: none;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    
    .destination-info {
        margin: 0vw;
        text-align: left;
        margin: 0vw 4vw 0vw 0vw;
    }
    
    .destination-info h3 {
        margin: 1vw 0vw;
        letter-spacing: 0.25vw;
        font-size: 1.1em;
    }
    
    .destination-info h1 {
        color: var(--clr-white);
        margin: 0vw;
        font-family: var(--ff-head);
        font-weight: 400;
        text-transform: uppercase;
        font-size: 2.1em;
        transition: var(--transition);
    }
}