@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
    --ff-head: 'Bellefair', serif;
    --ff-body: 'Barlow Condensed', sans-serif;
    --clr-dark-blue: hsl(230, 35%, 7%);
    --clr-light-blue: hsl(231, 77%, 90%);
    --clr-white: hsl(0, 0%, 100%);
    --transition: all 0.3s ease
}

* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    height: 100vh;
    background-image: url(assets/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0vw;
    transition: var(--transition);
}

.buttons-section {
    margin: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 10vw;
    height: auto;
}

.menu-btn button {
    padding: 0vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu {
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0;
    right: 0;
    transition: var(--transition);
    transform: translate(100%);
    overflow: hidden;
    backdrop-filter: blur(10vw);
    display: flex;
    flex-direction: column;
}

/* menu toggle start*/
.open {
    transform: translate(0%);
}
/* menu toggle end*/

.close-btn {
    display: flex;
    margin: 6vw;
    justify-content: right;
}

.close-btn button {
    background-color: transparent;
    border: none;
}

.menu-links {
    display: flex;
    flex-direction: column;
    margin: 12vw 12vw;
    font-family: var(--ff-body);
}

.menu a {
    text-decoration: none;
    color: var(--clr-white);
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 1.2em;
    letter-spacing: 0.5vw;
    margin: 4vw 0vw;
    font-weight: 400;
}

.menu a span {
    font-weight: 600;
    margin: 0vw 4vw 0vw 0vw;
}

.crew-main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.crew-header h3 {
    color: var(--clr-white);
    font-family: var(--ff-body);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.5vw;
    margin: 0vw 0vw 10vw 0vw;
}

.crew-header h3 span {
    color: hsl(0, 0%, 30%);
    margin: 0vw 4vw 0vw 0vw;
}

.crew-picture {
    margin: 0vw 8vw;
    padding: 0vw;
    border-bottom: 1px solid hsl(231, 67%, 80%);
}

.crew-picture img {
    width: 60vw;
    height: auto;
    transition: var(--transition);
}

.crew-btns {
    margin: 8vw 0vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.crew {
    width: 4vw;
    height: 4vw;
    margin: 0vw 2vw;
    background-color: hsl(0, 0%, 30%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
}

.crew:hover {
    background-color: hsl(0, 0%, 65%);
}

.active {
    background-color: var(--clr-white);
}

.crew-about {
    display: flex;
    flex-direction: column;

}

.crew-rank h2 {
    text-transform: uppercase;
    color: hsl(0, 0%, 30%);
    font-size: 1.5em;
    font-weight: 600;
    font-family: var(--ff-head);
    margin: 0vw;
    transition: var(--transition)
}

.crew-name h1 {
    text-transform: uppercase;
    color: var(--clr-white);
    font-size: 2em;
    font-weight: 400;
    font-family: var(--ff-head);
    margin: 2vw 0vw;
    transition: var(--transition);
}

.crew-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: var(--transition);
}

.crew-description span {
    text-align: center;
    color: var(--clr-light-blue);
    margin: 2vw 10vw 8vw 10vw;
    font-family: var(--ff-body);
    line-height: 1.6;
    font-size: 1.3em;
    transition: var(--transition);
}